<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
    <h1>메시지 보내기</h1>
    <!-- <form action="http://localhost:5000/req" method="post" id = "post"> </form>-->
        <p>아이디 :</p>
        <input type = 'text' name='id' id = 'id'> <input type="submit" id='duplicate' value="중복확인">
        <p>메시지 :</p>
        <textarea name="message" id="message" cols="50" rows="10"></textarea>
        <br><br>
        <input type = 'submit' value="전송" id=submit>

        <script>
            var checkDuple = 0;
            //send id & message & duplicate alert
            $("#submit").click(function(){
                if (checkDuple !=0){
                    $.ajax({
                        url:'http://localhost:5000/req',
                        async:true,
                        type:'POST',
                        data:{
                            id : $("#id").val(),
                            message :  $("#message").val()
                        },
                        dataType : 'json',
                        success : function(data){
                            if(data.status==1){
                                alert("success")
                            }
                            else if(data.status==2){
                                alert("아이디가 빈 공간 입니다")
                            }
                            else if(data.status==3){
                                alert("메세지가 빈 공간 입니다")
                            }
                            //alert(JSON.stringify(data))
                            console.log(data)
                            //console.log(data.status)
                        },
                        error : function(err){
                            alert("연결 실패")
                        }
                    });

                }
                else alert("중복확인 필요")
            });
            
            //find duplicate
            $("#duplicate").click(function(){
                $.ajax({
                    url:'http://localhost:5000/req/check',
                    async:true,
                    type:'POST',
                    data:{
                        id : $("#id").val()
                    },
                    dataType:'json',
                    success : function(data){
                        if(data.dstatus==0){
                            checkDuple = 1;
                            alert("사용할 수 있는 아이디")
                        }
                        else if(data.dstatus ==1){
                            alert("사용할 수 없는 아이디")
                        }
                    }
                })
            })
            </script>
</body>
</html>