<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <title>reply</title>
</head>
<body>
    reply page<p>
    <input type="submit" value="검색" id="submit">
    <div id="display">메시지 표시되는 곳</div>
    <input type="text" id="reply"><input type="submit" value="전송" id="send">



    <script>
        var userdata
        //get random number and print random message
        $("#submit").click(function(){
            var randNum = Math.random();
            var max 
            $.ajax({
                url:'http://localhost:5000/reply',
                async:true,
                type:'POST',
                dataType:'json',
                success:function(data){
                    console.log(data[0].cnt)
                    max = data[0].cnt
                    senrend(max)
                },
                error : function() {

                }
            })
        })

        //send reply
        $("#send").click(function(){
            $.ajax({
                url:'http://localhost:5000/reply/send',
                async:true,
                type:'POST',
                dataType:'json',
                data:{
                    message : $('#reply').val(),
                    userid : userdata[0].userid
                },
                success : function(data){
                    console.log("send success")
                    console.log(userdata)
                    if(data.status == 1){
                        alert("완료")
                    }
                    else alert("실패")
                },
                error : function(err){
                    console.log(err)
                }
            })
        })

        //get random number from server and show data
        function senrend(data){
            $.ajax({
                url:'http://localhost:5000/reply/view',
                async:true,
                type:'POST',
                data:{
                    maxnum : data
                },
                dataType:'json',
                success: function(data){
                    //console.log(data)
                    showhtml(data)
                    userdata = data
                },
                error : function(err){
                    console.log(err)
                }
            })
        }

        //show table function
        function showhtml(data){
                var html = "<table border ='1'>";
                    html += "<tr>";
                    html += "<th>id</th>";
                    html += "<th>message</th>";
                    html +="</tr>";
                
                $.each(data, function(key,value){
                    html += "<tr align = 'center'>";
                    html += "<td>" + value.userid + "</td>";
                    html += "<td>" + value.contents + "</td>";
                    html += "</tr>";
                })
                html += "</table>";
                $('#display').empty();
                $('#display').append(html);
        }
    </script>
</body>
</html>